<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site Manga{% endblock %}</title>
    {% block stylesheets %}
        <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" > -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style>

        </style>
    {% endblock %}
</head>
<body class="container">
<header>
    <a href="{{ url('app_login') }}">Se connecter</a>

</header>


{% block body %}
{% endblock %}

<br /><br />
<footer class="container">
    Fièrement développé avec Symfony.
</footer>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
